{% extends 'base.html' %}
{% load thumbnail %}
{% load cache %}
  {% block title %}
  Посты по подписке
  {% endblock %}
  {% block content %}
  {% cache 20 index_page %}
  {% include 'posts/includes/switcher.html' %}
  <div class="container py-5">
    <h1>
      Посты по подписке
    </h1>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.username }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        {% thumbnail post.image "600x600" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
        {% endthumbnail %}
        <p>
          {{ post.text }}
        </p>
        {% if post.group %}   
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %} 
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
  {% include 'posts/includes/paginator.html' %}
  </div>
  {% endcache %} 
  {% endblock %}


